.container_longin {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .card_longin {
    width: 430px;
    height: 339px;
    text-align: center;
    .ant-card-head-title {
      font-weight: 800;
      font-size: 22px;
    }
    .user_name,
    .user_pwd {
      width: 380px;
      height: 40px;
    }
    .submitdiv {
      margin-top: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 380px;
      }
    }
  }
}
