@import "../../style/public_mixin.scss";

.container_longin {
  @include fill;
  display: flex;
  align-items: center;
  justify-content: center;
  .card-longin {
    width: 430px;
    height: 390px;
    text-align: center;
    .ant-card-head-title {
      font-weight: 800;
      font-size: 22px;
    }
    .user_name,
    .user_pwd {
      width: 380px;
      height: 40px;
    }
    .verification_div {
      height: 40px;
    }
    .verification_img {
      display: inline-block;
      width: 100px;
      height: 40px;
    }
    .verification_code {
      width: 280px;
      height: 40px;
    }
    .submitdiv {
      margin-top: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 380px;
      }
    }
  }
}
