@import "@/style/public_mixin.scss";

.flex-container {
  @include fill;
  display: flex;
  flex-direction: column;
}

.head {
  flex-basis: 35px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  .search-input {
    width: 350px;
  }
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  .data-table {
    @include fill;
  }
}
