html,
body {
    margin: 0;
    padding: 0;
    border-width: 0;
    width: 100%;
    height: 100%;
}
#app {
    width: 100%;
    height: 100%;
    color: #3c3c3c;
    -webkit-font-smoothing: antialiased;
    background-color: #f4f4f4;
    overflow-x: hidden;
    font: 12px/1.5 arial, "Hiragino Sans GB", sans-serif;
}

.card_longin {
    .ant-card-head-title {
        font-weight: 800;
        font-size: 22px;
    }
}
