<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gourddoll.blog.mapper.BgLikeMapper">
    
    <resultMap type="BgLike" id="BgLikeResult">
        <result property="id"    column="id"    />
        <result property="bizType"    column="biz_type"    />
        <result property="bizId"    column="biz_id"    />
        <result property="userName"    column="user_name"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBgLikeVo">
        select id, biz_type, biz_id, user_name, status, create_time, update_time from bg_like
    </sql>

    <select id="selectBgLikeList" parameterType="BgLike" resultMap="BgLikeResult">
        <include refid="selectBgLikeVo"/>
        <where>  
            <if test="bizType != null "> and biz_type = #{bizType}</if>
            <if test="bizId != null "> and biz_id = #{bizId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBgLikeById" parameterType="Long" resultMap="BgLikeResult">
        <include refid="selectBgLikeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBgLike" parameterType="BgLike">
        insert into bg_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="bizType != null">biz_type,</if>
            <if test="bizId != null">biz_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="bizType != null">#{bizType},</if>
            <if test="bizId != null">#{bizId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBgLike" parameterType="BgLike">
        update bg_like
        <trim prefix="SET" suffixOverrides=",">
            <if test="bizType != null">biz_type = #{bizType},</if>
            <if test="bizId != null">biz_id = #{bizId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBgLikeById" parameterType="Long">
        delete from bg_like where id = #{id}
    </delete>

    <delete id="deleteBgLikeByIds" parameterType="String">
        delete from bg_like where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>